<!-- <p>add-room works!</p> -->
{{ roomsForm.valid | json }}
{{ roomsForm.invalid | json }}
{{ roomsForm.dirty | json }}
{{ roomsForm.pristine | json }}
{{ roomsForm.value | json }}
<!-- A check for 2-way data binding -->

<div class="success-message" *ngIf="successMessage !== ''">
  <p>{{ successMessage }}</p>
</div>
<form #roomsForm="ngForm" (ngSubmit)="addRoom()">
  <!-- Defining an instance of this form. -->
  <div class="form-group">
    <label for="roomType">Room Type</label>
    <input
      class="form-control"
      type="text"
      name="roomType"
      [(ngModel)]="room.roomType"
      placeholder="Room Type"
      required
    />
  </div>
  <div class="form-group">
    <!-- using # to get the access of Control of inputs -->
    <label for="amenities">Amenities</label>
    <input
      #roomAmenities="ngModel"
      class="form-control"
      type="text"
      name="amenities"
      [(ngModel)]="room.amenities"
      placeholder="Amenities"
      required
      minlength="5"
      maxlength="20"
      [defaultValue]="'1 BedRoom, TV, AC, Bathroom, Closet'"
    />
  </div>
  <div
    class="alert alert-danger"
    *ngIf="roomAmenities.errors && roomAmenities.errors['minlength']"
  >
    Amenities should be minimum of 5 characters
    {{ roomAmenities.errors | json }}
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input
      class="form-control"
      type="number"
      name="price"
      [(ngModel)]="room.price"
      placeholder="Price"
      required
      [defaultValue]="0"
    />
  </div>
  <div class="form-group">
    <label for="photos">Photos</label>
    <input
      #roomLink="ngModel"
      class="form-control"
      type="url"
      pattern="https?://.+"
      name="photos"
      [(ngModel)]="room.photos"
      placeholder="Photos (Provide URL)"
      [defaultValue]="
        'https://www.google.com/imgres?q=hotel%20images&imgurl=https%3A%2F%2Fwww.orchidhotel.com%2Fstatic%2Fwebsite%2Fimg%2Fhotels%2Fpanchgani%2Fhomepage_slider%2Fhomepage_slider.webp&imgrefurl=https%3A%2F%2Fwww.orchidhotel.com%2F&docid=V4MHWx2lVE8YMM&tbnid=MtRM2yyE73O8-M&vet=12ahUKEwjphrrFvsOPAxV6zDgGHQnCFRIQM3oECBgQAA..i&w=1920&h=951&hcb=2&ved=2ahUKEwjphrrFvsOPAxV6zDgGHQnCFRIQM3oECBgQAA'
      "
    />
    <div
      class="alert alert-danger"
      *ngIf="roomLink.errors && roomLink.errors['url']"
    >
      Invalid URL format
      {{ roomLink.errors | json }}
    </div>
  </div>
  {{ roomLink.errors?.['type'] | json }}
  <div class="form-group">
    <label for="checkinTime">Check-in Time</label>
    <input
      class="form-control"
      type="datetime"
      name="checkinTime"
      [(ngModel)]="room.checkinTime"
      placeholder="Check-in Time"
      required
    />
  </div>
  <div class="form-group">
    <label for="checkoutTime">Check-out Time</label>
    <input
      class="form-control"
      type="datetime"
      name="checkoutTime"
      [(ngModel)]="room.checkoutTime"
      placeholder="Check-out Time"
      [defaultValue]="room.checkoutTime"
      required
    />
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input
      class="form-control"
      type="number"
      name="rating"
      [(ngModel)]="room.rating"
      placeholder="Rating"
      min="1"
      max="5"
      required
    />
  </div>
  <button [disabled]="roomsForm.invalid" class="btn btn-primary" type="submit">
    Add Room
  </button>
</form>
