<p>room works!</p>
<app-header></app-header>
<!-- <app-header></app-header>
<app-header></app-header> -->
<!-- {{ room$ | async | json }} -->
<!-- For a stream use async pipe and json for displaying that object. Previously it was subscribed to get the data out and read the data. async pipe gets the data and unwraps(unsubscribe to the data) and gives the data. When ngOnDestroy is called, async pipe takes care of unsubscribing to the object.-->
<div [hidden]="flag">
  Hotel Rooms: <br />
  Booked Rooms:
  <div [innerText]="bookedRooms"></div>
  Rooms occupied:
  <div [innerText]="occupiedRooms"></div>
</div>
<!-- document.getElementById('occupiedRooms').innerText() = occupiedRooms;-->

<!-- Optional Chaining 
 Number of Rooms:
<div [ngStyle]="{'color' : rooms.availableRooms ? 'green' : 'black'}" [innerText]="roomList.length">

     {{ rooms.availableRooms ?? 'No rooms'}}
    Available Rooms: {{ rooms.availableRooms}}
    Booked Rooms: {{ rooms.bookedRooms}}
    Total Rooms: {{ rooms.totalRooms}}
</div>
-->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<!--  Binding Arrays (*ngFor) -->
<!-- This Div or any other div is causing duplicate rendering of component-->
<!--<div *ngIf="rooms.availableRooms > 0">
     When adding the HTML tag of a component, also add the property. Here rooms is the property from rooms-list component and roomList is from the room component. 
</div>-->
<div *ngIf="room$ | async as rooms">
  <!-- If [rooms]="room$ | async" then it will subscribe room$ multiple times, thus give an annotation. Avoid multiple async pipes on same stream.-->
  <app-rooms-list
    [rooms]="rooms"
    [title]="title"
    (selectedRoom)="selectTheRoom($event)"
  ></app-rooms-list>
</div>

<!-- <div [innerText]="rooms?.availableRooms"></div> -->
<button (click)="toggle()">Hide information</button>

<!-- Update and Delete buttons => RoomComponent -->
<button (click)="editRoom()">Edit Room</button>

<button (click)="deleteRoom()">Delete Room</button>
