<h1>Angular Project</h1>
<!-- <app-room></app-room> -->
<!-- <app-employee></app-employee> -->
<!-- In container component, the order is employee, ng-content and room.(This is rendered as content is defined inside this container component). Here, this parent component provides the loaded components to the container component. -->
<!-- Whereas in the container defined in the main app, it is room, employee and some HTML. -->
<!-- <app-container>
  <app-room></app-room>
  <app-employee></app-employee>
  <h2>
    This H2 tag replaces ng-content and is displayed from container component
  </h2>
</app-container> -->

<!-- <div #templateName></div> -->
<!-- <div>
  <ng-template #user></ng-template>
</div> -->

<!--  *ngSwitch
<div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    Welcome User
  </div>
  <div *ngSwitchCase="'Admin'">
    Welcome Admin
    <app-room></app-room>
  </div>
  <div *ngSwitchDefault>
    You do not belong to any role of the Application!!
  </div>
</div> -->
<router-outlet></router-outlet>
